# This is a basic workflow to test if the image builds for each new PR 

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  pull_request_review_comment:
    types: [created, deleted]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:

  # This workflow contains a single job called "build"
  build:
    # sets the environment variables
    env:
      DOCKERHUB_ORGANISATION: ${{ 'aliarsal' }}
      DOCKERHUB_REPOSITORY: ${{ 'workshop-project-frontend' }}

    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      # - uses: actions/checkout@v2

      # Runs a single command to show event name
      - name: Run a one-line script
        run: echo Halo ${{ github.event_name }}!

      - name: Generate Vars
        id: generate_vars
        run: |
          IMAGE_TAG=${{ steps.generate_version.outputs.new_tag }}
          IMAGE_NAME=format('{0}/{1}:{2}', ${{ env.DOCKERHUB_ORGANISATION }}, ${{ env.DOCKERHUB_REPOSITORY }}, $IMAGE_TAG)
          echo "Image: ${{ IMAGE_NAME }}"
